/******************
* APP Main Colors *
******************/
$body-bg: #f9f9f9;
$color-text: #3d4046;
$color-white: #ffffff;
$color-danger: #ff6059;

$bg-color: #d6f5ea;
$border-color: #ebebef;
$color-med-grey: #7a8291;
$color-light-grey: #f8f9fa;
